.updateContainer{
    background-color: white;
    padding: 20px;
}

.titleCRUD{
    color: black;
}

.navButton{
    text-decoration: none;
    background-color: white;
    padding: 15px 10px;
    margin: 20px;
    border-radius: 10px;
    color: #8A3CBA;
}
  
  .navButton:hover{
    background-color: black;
  }
  
  /* Apply these styles to make the navigation bar extend to the edges */
  header {
    background-color: #8A3CBA; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
  }
  
  .container {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  
  .navButton {
   
    margin: 0 10px; /* Add spacing between navigation links */
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Adjust styles as needed */
  .header-content h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* If you want the navigation links to be horizontally aligned */
  nav {
    display: flex;
  }
  .footerDiv{
    background-color: #8A3CBA;
    display: inline-block;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    
    margin-top: 40px;

}
  

.buttonCRUD{
    display: inline-block;
    padding: 10px 20px;
    background-color: #8A3CBA; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.buttonCRUD:hover{
    background-color: black;
}